node_modules
.pnpm-store
.next
out
.env
.env.*
dist
coverage
.DS_Store
.husky/_
.prisma
.idea
.vscode
**/.turbo
**/playwright-report
**/test-results
**/.next
**/coverage
**/.env.local
prisma/generated
